<div>
<form action="·" class="ms-5 mt-5">
<div id="cajitamax" class="p-5">
    <label for="cars">Furniture:</label>
    <select name="furniture" id="furniture">
      <option value="Bookshelf">Bookshelf</option>
      <option value="Table">Table</option>
    </select>
  <label for="width" class="form-label col-3">Width</label>
      <div>
        <input
          type="range"
          class="form-range"
          min="20"
          max="100"
          step="1"
          id="width"
          value="60"
        />
      </div>

    <label for="height" class="form-label col-3" id="lheight">Heigth</label>
  <div>
    <input
      type="range"
      name="amountRange"
      class="form-range"
      min="20"
      max="200"
      step="1"
      id="height"
      value="180"
      oninput="this.form.amountInput.value=this.value"
    />
    <%# <input
      type="number"
      name="amountInput"
      class="form-range"
      min="20"
      max="200"
      step="1"
      value="180"
      oninput="this.form.amountRange.value=this.value" %>
    
  </div>

    <label for="depth" class="form-label col-3 id="ldepth"">Depth</label>
  <div>
    <input
      type="range"
      class="form-range"
      min="1"
      max="100"
      step="1"
      id="depth"
      value="30"
    />
  </div>

    <label for="shelves" class="form-label col-3" id="lshelves">Shelves</label>
  <div>
    <input
      type="range"
      class="form-range"
      min="2"
      max="11"
      step="1"
      id="shelves"
      value="6"
    />
  </div>
  </div>
</form>
</div>
