<div>
<form action="·" class="ms-5 mt-5">
<div id="cajitamax" class="p-5">
    <label for="cars">Furniture:</label>
    <select id="select" name="furniture">
      <option value="bookshelf">Bookshelf</option>
      <option value="table">Table</option>
    </select>
  <label for="width" class="form-label col-3" id="lwidth">Width</label>
      <div>
        <input
          type="range"
          class="form-range"
          min="20"
          max="150"
          step="1"
          id="width"
          value="60"
        />
      </div>

    <label for="height" class="form-label col-3" id="lheight">Heigth</label>
  <div>
    <input
      type="range"
      class="form-range"
      min="20"
      max="200"
      step="1"
      id="height"
      value="180"
    />
    </div>

    <label for="depth" class="form-label col-3" id="ldepth">Depth</label>
  <div>
    <input
      type="range"
      class="form-range"
      min="1"
      max="100"
      step="1"
      id="depth"
      value="30"
    />
  </div>

    <label for="shelves" class="form-label col-3" id="lshelves">Shelves</label>
  <div>
    <input
      type="range"
      class="form-range"
      min="2"
      max="11"
      step="1"
      id="shelves"
      value="6"
    />
  </div>
  </div>
</form>
</div>
