<div>
<form action="·" class="ms-5 mt-5">
<div id="cajitamax" class="p-5">
  <label for="width" class="form-label col-3">Width</label>
      <div>
        <input
          type="range"
          class="form-range"
          min="20"
          max="100"
          step="1"
          id="width"
        />
      </div>

    <label for="height" class="form-label col-3">Heigth</label>
  <div>
    <input
      type="range"
      class="form-range"
      min="20"
      max="200"
      step="1"
      id="height"
    />
  </div>

    <label for="depth" class="form-label col-3">Depth</label>
  <div>
    <input
      type="range"
      class="form-range"
      min="1"
      max="100"
      step="1"
      id="depth"
    />
  </div>

    <label for="shelves" class="form-label col-3">Shelves</label>
  <div>
    <input
      type="range"
      class="form-range"
      min="1"
      max="10"
      step="1"
      id="shelves"
    />
  </div>
  </div>
</form>
</div>
