<div id="cajitamax" class="mt-5 ms-5">
<h2>List of textures</h2>
<div id="cajita">
<% Texture.all.each do |texture|  %>
<div>
<img class="imgsize" src= <%= texture.url %>  alt=" <% texture.url %>">
<p> <%= texture.name %> </p>
</div>
<% end  %>
</div>
</div>