<canvas id="home"></canvas>

<div class="outer-wrapper" id="outer-wrapper">
  <div class="wrapper" id="wrapper">
    <div class="slide one">
      <%= render "shared/sliders1" %>
    </div>
    <div class="slide two">
     <%= render "shared/sliders2" %>
    </div>
    <div class="slide three"></div>
    <div class="slide four"></div>
  </div>
</div>

<%= javascript_pack_tag 'home'%>
