<canvas id="home"></canvas>


<div class="outer-wrapper">
  <div class="wrapper">
    <div class="slide"></div>
<%= render "shared/sliders1" %>
    <div class="slide"></div>
    <div class="slide"></div>
    <div class="slide"></div>
  </div>
</div>

<%= javascript_pack_tag 'home'%>

