<section class="showcase">
      <header>
        <h2 class="logo">Crealo</h2>
        <div class="toggle"></div>
      </header>
      <%# <video src="app/assets/images/epic2.mp4" muted loop autoplay></video> %>
      <%= video_tag [ 'epic2.mp4'], controls: false, type: 'video/mp4', autoplay: :autoplay, loop: :loop, muted: :muted %>
      <%# https://youtu.be/S3YvnQpwjkQ %>
      <div class="text">
        <h2>Desing - Create - Innovate</h2>
        <h3>Get your custom furniture</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat.
        </p>
        <a href="#">Create</a>
      </div>
      <ul class="social">
        <li>
          <a href="#"><img src="https://i.ibb.co/x7P24fL/facebook.png" /></a>
        </li>
        <li>
          <a href="#"><img src="https://i.ibb.co/Wnxq2Nq/twitter.png" /></a>
        </li>
        <li>
          <a href="#"><img src="https://i.ibb.co/ySwtH4B/instagram.png" /></a>
        </li>
      </ul>
    </section>
    <div class="menu">
      <ul>
        <li><a href="#">Create</a></li>
        <li><a href="#">Login</a></li>
        <li><a href="#">Create account</a></li>
      </ul>
    </div>