#imgsize {
  height: 3.5rem;
  width: 3.5rem;
  padding-top: 1rem;
}
#cajita {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 8px;
}
#cajitamax h2 {
  margin-bottom: 0px;
  padding-top: 8px;
}
#cajitamax {
  width: 40vh;
  background: hsl(0, 0%, 100% / 0.1);
  backdrop-filter: blur(0.2rem);
  background: linear-gradient(
    -45deg,
    rgba(106, 73, 49, 0.4),
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0.7),
    rgba(0, 0, 0, 0.4)
  );
  background-size: 800% 400%;
  transition: all 0.5s ease-in-out;
  animation: gradient 30s infinite cubic-bezier(0.62, 0.28, 0.23, 0.99) both;
  border-radius: 30px;

  text-shadow: 0px 0px 3px white;
  font-weight: 600;
}
#transparente {
  background: hsl(0, 0%, 100% / 0.1);
  backdrop-filter: blur(0.2rem);
  background-color: rgba(84, 84, 86, 0.2);
}
#cajitamax:hover h2 {
  background-color: rgba(209, 209, 209, 0.2);

  font-size: 35px;
}
#cajitamax:hover #cajita {
  background-color: rgba(209, 209, 209, 0.2);
}
#cajitamin:hover {
  background-color: rgba(84, 84, 86, 0.2);
}
.positionorder {
  margin: 124px 0px 124px 0px;
}
#imgsize:hover {
  height: 7rem;
  width: 7rem;
}
#cajitamin:hover p {
  text-shadow: 1px 0 0 black;
}
element.style {
  width: 4.5rem;
}
.bg-light {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-light-rgb), var(--bs-bg-opacity)) !important;
}
.flex-shrink-0 {
  flex-shrink: 0 !important;
}
.flex-column {
  flex-direction: column !important;
}
.d-flex {
  display: flex !important;
}
*,
::after,
::before {
  box-sizing: border-box;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}
