<h1> List of furnitures </h1>

<div class="container">
  <div class="row multi-columns-row">
    <% @furnitures.each do |furniture|  %>
      <div class="col-sm-6 col-md-3 col-lg-3">
<%= furniture.category  %>


</div>
</div>